<%- include('layouts/header') %> <%- include('layouts/nav') %>
<div class="container">
  <h1><%= title %></h1>
  <div class="row">
    <div class="col text-center">
      <img src="img/angel.jpg" alt="" width="200px" />
      <h2 class="display-4">ayu</h2>
      <p class="lead">lecturer | content creator</p>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>
